@use 'bootstrap';

/* Header */

#site_header {
    padding: 1.5rem;
    background-color: #7fa1bb;
}

.logo {
    font-size: 50px;
    font-weight: bold;
}


/* Main */

.movies {
    padding: 5rem 0;
}


/* Card */

.card {
    img {
        height: 350px;
        border-radius: 15px;
    }
    .language,
    .date {
        font-size: 10px;
        color: lightgrey;
    }
}

#site_footer {
    padding: 2rem;
    background-color: #7fa1bb;
}